/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* --- RESET --- */

html, body, header, nav, h1, a, ul, li,
main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

/* --- ELEMENTS --- */

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.1666666666;
  background: #fff;
  color: #000;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
    display: none;
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* --- AUTH FORM --- */

.auth {
  height: 100vh;
  background-image: url(image-path('auth_bg.jpg'));
  background-repeat: no-repeat;
  padding: 20px;
  overflow-y: scroll;
}

.auth-form {
  display: block;
  width: 600px;
  margin: 0 auto;
  padding: 12px;
  background-color: #fff;
  border: 1px solid #1fae52;
  border-radius: 4px;
  vertical-align: middle;
}

.form-header {
  display: block;
  margin: 20px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
}

.form-main {
  display: block;
  width: 480px;
  margin: 0 auto;
  border: 1px solid #1fae52;
  border-radius: 4px;
  font-family: gotham, helvetica, arial, sans-serif;
}

.form-footer {
  display: block;
  margin: 40px 0;
  text-align: center;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 14px;
}

.logo {
  display: block;
  width: auto;
  height: 180px;
  margin: 0 auto;
}

.form-input {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding-top: 12px;
}

.form-input > input {
  display: block;
  width: 100%;
  border: 1px solid #1fae52;
  border-radius: 4px;
  padding: 5px;
}

.submit-button {
  display: block;
  width: 320px;
  margin: 20px auto;
  border: 1px solid #1fae52;
  border-radius: 7px;
  padding: 20px 40px;
  background: #2dbe60;
  text-align: center;
  color: #fff;
}

.submit-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.auth-form-error {
  text-align: center;
  color: #f00;
  font-family: gotham, helvetica, arial, sans-serif;
}

.auth-form-error:last-of-type {
  margin-bottom: 20px;
}

.guest-button {
  display: block;
  width: 240px;
  margin: 10px auto;
  border: 1px solid #1fae52;
  border-radius: 7px;
  padding: 15px 40px;
  background: #2dbe60;
  text-align: center;
  color: #fff;
}

.guest-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.page-change {
  color: #2dbe60;
}

.page-change:hover {
  cursor: pointer;
  opacity: 0.75;
}

/* --- HOME --- */

.home-sidebar {
  display: block;
  position: absolute;
  left: 0;
  width: 72px;
  height: 100vh;
  background: #f8f8f8;
  overflow-y: scroll;
}

.home-main {
  display: block;
  position: absolute;
  left: 72px;
  width: calc(100vw - 72px);
  min-width: 1076px;
}

.sidebar-avatar > img {
  width: 48px;
  height: 48px;
  margin: 12px auto;
  border: 1px solid #ececec;
  border-radius: 4px;
}

.sidebar-avatar >img:hover {
  cursor: pointer;
  opacity: 0.75;
}

.sidebar-tools {
  margin: 75px auto 50px auto;
}

.sidebar-options {
  margin: 25px auto;
  padding-bottom: 180px;
  border-bottom: 1px solid #ececec;
}

.sidebar-links {
  margin-bottom: 25px;
}

.sidebar-tool > img {
  width: 36px;
  height: 36px;
  margin: 6px auto;
  border: 1px solid #ececec;
  border-radius: 4px;
  background: #fff;
}

.sidebar-tool > img:hover {
  cursor: pointer;
  opacity: 0.75;
}

.sidebar-option > img {
  width: 36px;
  height: 36px;
  margin: 6px auto;
  border: 1px solid #ececec;
  border-radius: 4px;
  background: #fff;
}

.sidebar-option > img:hover {
  cursor: pointer;
  opacity: 0.75;
}

.sidebar-link > img {
  width: 48px;
  height: 48px;
  margin: 6px auto;
  border: 1px solid #ececec;
  border-radius: 4px;
  background: #fff;
}

.sidebar-link > img:hover {
  cursor: pointer;
  opacity: 0.75;
}

.account-items {
  position: absolute;
  top: 0;
  right: 0;
  font-family: caecilia, times, serif;
  font-weight: 400;
  font-size: 16px;
  color: #4a4a4a;
}

.account-items > p {
  float: left;
  padding: 6px 8px 6px 0;
  color: #2dbe60;
}

.account-items > a {
  float: left;
  text-decoration: underline;
  padding: 6px 8px 6px 0;
  color: #2dbe60;
}

.account-items > a:hover {
  cursor: pointer;
  opacity: 0.75;
}

.account-items > button {
  float: left;
  text-decoration: underline;
  padding: 6px 10px 6px 0;
  color: #2dbe60;
}

.account-items > button:hover {
  cursor: pointer;
  opacity: 0.75;
}

/* --- NOTES --- */

.notes-index {
  display: inline-block;
  width: 352px;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.notes-index-children {
  display: inline-block;
  height: 100vh;
  float: right;
}

.notes-index-header {
  display: block;
  height: 106px;
  padding: 24px 0 0 24px;
  border-bottom: 1px solid #ececec;
}

.notes-index-header > h1 {
  margin-bottom: 32px;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 21px;
  font-weight: 300;
  color: #878787;
}

.notes-index-header > p {
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #ababab;
}

.notes-index-main {
  height: calc(100vh - 106px);
  overflow-y: scroll;
}

.notes-index-item-wrapper {
  border-bottom: 1px solid #ececec;
}

.notes-index-item-wrapper:last-child {
  border-bottom: 0;
}

.notes-index-item {
  display: block;
  height: 120px;
  padding: 8px 27px;
  overflow: hidden;
}

.notes-index-item > .title {
  word-wrap: break-word;
  margin-bottom: 6px;
  font-family: caecilia, times, serif;
  font-weight: 400;
  font-size: 16px;
  color: #2dbe60;
}

.notes-index-item > p {
  word-wrap: break-word;
  margin: 8px 0;
  font-family: gotham, helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #878787;
}

.notes-index-item > .body {
  color: #000;
}

.notes-index-item:hover {
  cursor: pointer;
  background: #2dbe60;
  color: #fff;
}

.notes-index-item:hover > .title {
  cursor: pointer;
  background: #2dbe60;
  color: #fff;
}

.notes-index-item:hover > p {
  cursor: pointer;
  background: #2dbe60;
  color: #fff;
}

/* --- NOTE --- */

.note {
  display: inline-block;
  width: calc(100vw - 424px);
  min-width: 724px;
  height: calc(100vh - 30px);
  margin-top: 30px;
  padding: 12px 18px;
  overflow-y: scroll;
}

.note > h1 {
  font-family: gotham, helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 21px;
  color: #878787;
  margin-bottom: 36px;
}

.note-new-tag-icon {
  width: 36px;
  height: 36px;
  border: 1px solid #ececec;
  border-radius: 4px;
}

.note-trash-icon {
  float: right;
  width: 36px;
  height: 36px;
  margin-right: 48px;
  border: 1px solid #ececec;
  border-radius: 4px;
}

.note-trash-icon:hover {
  cursor: pointer;
  opacity: 0.75;
}

.note-children {
}

.note-error {
  display: block;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 14px;
  color: #f00;
}

.note-form {
  padding: 0 48px;
}

.note-form-select {
  margin-top: 10px;
}

.note-form-select > label {
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  color: #878787;
}

.note-form-select > select {
  margin-left: 6px;
}

.note-form-input {
  display: block;
  margin: 10px 0;
}

.note-form-input > label {
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  color: #878787;
}

.note-title-input-field {
  width: 100%;
  border: 1px solid #ccc;
  padding: 12px 15px;
  font-family: caecilia, times, serif;
  font-weight: 300;
  font-size: 28px;
  color: #2dbe60;
}

.ql-editor {
  min-height: 300px;
}

.note-submit-button {
  display: block;
  float: right;
  padding: 7px 10px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  text-align: center;
  font-family: gotham, helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #606060;
}

.note-submit-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.modal-message {
  margin: 4px 0;
  font-family: gotham, helvetica, arial, sans-serif;
  color: #2dbe60;
}

.modal-buttons {
  width: auto;
}

.modal-button {
  display: block;
  float: right;
  margin: 2px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding: 4px;
  font-family: gotham, helvetica, arial, sans-serif;
  font-weight: 400;
  color: #606060;
}

.modal-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

/* --- NOTEBOOKS --- */

.notebooks-index {
  display: inline-block;
  width: 352px;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.notebooks-index-header {
  position: relative;
}

.notebooks-index-children {
  display: inline-block;
  width: calc(100vw - 424px);
  min-width: 724px;
  height: 100vh;
}

.notebooks-index-header {
  display: block;
  height: 106px;
  padding: 24px 0 0 24px;
  border-bottom: 1px solid #ececec;
}

.notebooks-index-header > h1 {
  padding: 0 186px 32px 0;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 21px;
  font-weight: 300;
  color: #878787;
}

.notebooks-index-header > p {
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #ababab;
}

.new-notebook-icon {
  position: absolute;
  top: 11px;
  right: 148px;
  width: 38px;
  height: 38px;
  border: 1px solid #ececec;
  border-radius: 4px;
}

.new-notebook-icon:hover {
  cursor: pointer;
  opacity: 0.75;
}

.notebooks-index-main {
  height: calc(100vh - 106px);
  overflow-y: scroll;
}

.notebooks-index-item-wrapper {
  border-bottom: 1px solid #ececec;
}

.notebooks-index-item-wrapper:last-child {
  border-bottom: 0;
}

.notebooks-index-item {
  display: block;
  height: 120px;
  padding: 8px 27px;
  overflow: hidden;
}

.notebooks-index-item > .title {
  word-wrap: break-word;
  margin-bottom: 6px;
  font-family: caecilia, times, serif;
  font-weight: 400;
  font-size: 16px;
  color: #2dbe60;
}

.notebooks-index-item > p {
  word-wrap: break-word;
  margin: 8px 0;
  font-family: gotham, helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #878787;
}

.notebooks-index-item > .description {
  color: #000;
}

.notebooks-index-item:hover {
  cursor: pointer;
  background: #2dbe60;
  color: #fff;
}

.notebooks-index-item:hover > .title {
  cursor: pointer;
  background: #2dbe60;
  color: #fff;
}

.notebooks-index-item:hover > p {
  cursor: pointer;
  background: #2dbe60;
  color: #fff;
}

.notebook-update-link {
  margin: 0 6px;
  border: 1px solid #ececec;
  border-radius: 4px;
  padding: 1px 8px;
  background: #f8f8f8;
  color: #383838;
}

.notebook-update-link:hover {
  cursor: pointer;
  background: #fff;
  color: #2dbe60;
}

/* --- NOTEBOOK --- */

.notebook {
  display: inline-block;
  width: calc(100vw - 424px);
  min-width: 724px;
  height: calc(100vh - 30px);
  margin-top: 30px;
  padding: 12px 18px;
  overflow-y: scroll;
}

.notebook > h1 {
  font-family: gotham, helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 21px;
  color: #878787;
  margin-bottom: 36px;
}

.notebook-trash-icon {
  float: right;
  width: 36px;
  height: 36px;
  margin-right: 48px;
  border: 1px solid #ececec;
  border-radius: 4px;
}

.notebook-trash-icon:hover {
  cursor: pointer;
  opacity: 0.75;
}

.notebook > p {
  margin-left: 48px;
  height: 48px;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 14px;
  color: #f00;
}

.notebook-error {
  display: block;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 14px;
  color: #f00;
}

.notebook-form {
  padding: 0 48px;
}

.notebook-form-input {
  display: block;
  margin: 10px 0;
}

.notebook-form-input > label {
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  color: #878787;
}

.notebook-title-input-field {
  width: 100%;
  border: 1px solid #ccc;
  padding: 12px 15px;
  font-family: caecilia, times, serif;
  font-weight: 300;
  font-size: 28px;
  color: #2dbe60;
}

.notebook-form-input > textarea {
  display: block;
  width: 100%;
  min-height: 300px;
  border: 1px solid #ccc;
  padding: 12px 15px;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  color: #383838;
}

.notebook-submit-button {
  display: block;
  float: right;
  padding: 7px 10px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  text-align: center;
  font-family: gotham, helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #606060;
}

.notebook-submit-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

/* --- NOTE TAGS --- */

.note-new-tag-icon {
  float: left;
  width: 38px;
  height: 38px;
  margin: 0 0 10px 48px;
  border: 1px solid #ececec;
}

.note-new-tag-icon:hover {
  cursor: pointer;
  opacity: 0.75;
}

.note-tags {
  float: left;
  width: calc(100% - 182px);
}

.note-tags-index-tag-wrapper {
  display: block;
  float: left;
  margin: 0 0 6px 6px;
  border: 1px solid #ececec;
  border-radius: 4px;
  padding: 1px 8px;
  background: #f8f8f8;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #383838;
}

.note-tags-index-tag-wrapper:hover {
  cursor: pointer;
  opacity: 0.75;
}

/* --- TAGS --- */

.tags-index {
  display: inline-block;
  width: 352px;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.tags-index-header {
  position: relative;
}

.tags-index-children {
  display: inline-block;
  float: right;
  width: calc(100vw - 424px);
  min-width: 724px;
  height: 100vh;
}

.tags-index-header {
  display: block;
  height: 106px;
  padding: 24px 0 0 24px;
  border-bottom: 1px solid #ececec;
}

.tags-index-header > h1 {
  padding: 0 264px 32px 0;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 21px;
  font-weight: 300;
  color: #878787;
}

.tags-index-header > p {
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #ababab;
}

.new-tag-icon {
  position: absolute;
  top: 11px;
  right: 226px;
  width: 38px;
  height: 38px;
  border: 1px solid #ececec;
  border-radius: 4px;
}

.new-tag-icon:hover {
  cursor: pointer;
  opacity: 0.75;
}

.tags-index-main {
  height: calc(100vh - 106px);
  overflow-y: scroll;
}

.tags-index-tag-wrapper {
  margin: 6px;
}

.tags-index-tag {
  float: left;
  border: 1px solid #ececec;
  border-radius: 4px;
  padding: 1px 8px;
  background: #f8f8f8;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #383838;
}

.tags-index-tag:hover {
  cursor: pointer;
  background: #2dbe60;
  color: #ffffff;
}

.tags-index-tag-note-count {
  display: inline;
  padding-left: 12px;
  color: #228B22;
}

.tag-trash-icon {
  float: left;
  width: 18px;
  height: 18px;
  margin-left: 6px;
}

.tag-trash-icon:hover {
  cursor: pointer;
  opacity: 0.75;
}

/* --- NEW TAG --- */

.tag {
  display: inline-block;
  width: calc(100vw - 424px);
  min-width: 724px;
  margin: 30px 0;
  padding: 12px 0;
}

.tag > img {
  width: 36px;
  margin: 0 auto 10px auto;
  border: 1px solid #ececec;
  border-radius: 4px;
}

.tag > h1 {
  text-align: center;
  font-family: gotham, helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 21px;
  color: #878787;
  margin-bottom: 10px;
}

.tag-form-input {
  text-align: center;
  margin-bottom: 10px;
}

.tag-name-input-field {
  width: 200px;
  border: 1px solid #ececec;
  border-radius: 4px;
  margin: 0 6px;
  padding: 1px 8px;
  font-family: gotham, helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 32px;
  color: #606060;
}

.tag-submit-button {
  display: block;
  padding: 9px 14px;
  border: 1px solid #1fae52;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #2dbe60;
  text-align: center;
  font-family: gotham, helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
}

.tag-submit-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.tag > .quote > .question {
  text-align: center;
  margin-top: 120px;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}

.tag > .quote > .answer {
  text-align: center;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: #878787;
}

.tag > .quote > .author {
  text-align: center;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  color: #2dbe60;
}

/* --- ACCOUNT UPDATE --- */

.account-update {
  height: 100vh;
  vertical-align: middle;
  padding-bottom: 40px;
  overflow-y: scroll;
}

.account-update-logo {
  display: block;
  width: auto;
  height: 180px;
  margin: 0 auto;
}

.account-update > h1 {
  display: block;
  margin: 20px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
}

.account-update-form {
  display: block;
  width: 500px;
  margin: 0 auto;
  border: 1px solid #ececec;
  font-family: gotham, helvetica, arial, sans-serif;
}

.avatar-preview {
  display: block;
  width: 100px;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
}

.update-avatar {
  display: block;
  width: 320px;
  margin: 0 auto;
}

.update-avatar > input {
  display: block;
  width: 100%;
}

.update-full-name {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding-top: 20px;
}

.update-full-name > input {
  display: block;
  width: 100%;
  border: 1px solid #ececec;
  border-radius: 7px;
  padding: 5px;
}

.update-email {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding-top: 20px;
}

.update-email > input {
  display: block;
  width: 100%;
  border: 1px solid #ececec;
  border-radius: 7px;
  padding: 5px;
}

.account-update-submit-button {
  display: block;
  width: 320px;
  margin: 20px auto;
  border: 1px solid #1fae52;
  border-radius: 7px;
  padding: 20px 40px;
  background: #2dbe60;
  text-align: center;
  color: #fff;
}

.account-update-submit-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.account-update-form-error {
  text-align: center;
  color: #f00;
  font-family: gotham, helvetica, arial, sans-serif;
}

.account-update-form-error:last-of-type {
  margin-bottom: 20px;
}

/* --- NOTE SEARCH --- */

.search-notes-index {
  display: inline-block;
  width: 352px;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.search-notes-index-children {
  display: inline-block;
  width: calc(100vw - 424px);
  min-width: 724px;
  height: 100vh;
}

.search-notes-index-header {
  display: block;
  height: 106px;
  padding: 24px 0 0 24px;
  border-bottom: 1px solid #ececec;
}

.search-notes-index-header > h1 {
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 21px;
  font-weight: 300;
  color: #878787;
}

.note-search-form {
  margin: 5px 0;
}

.note-search-input-field {
  width: 50%;
  border: 1px solid #ececec;
  border-radius: 4px;
  padding: 1px 2px;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 16px;
  color: #2dbe60;
}

.note-search-submit-button {
  margin-left: 4px;
  border: 1px solid #1fae52;
  border-radius: 4px;
  padding: 1px 8px;
  background: #2dbe60;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 16px;
  color: #fff;
}

.note-search-submit-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.search-notes-index-header > p {
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #ababab;
}

.search-notes-index-main {
  height: calc(100vh - 106px);
  overflow-y: scroll;
}

.search-notes-index-item-wrapper {
  border-bottom: 1px solid #ececec;
}

.search-notes-index-item-wrapper:last-child {
  border-bottom: 0;
}

.search-notes-index-item {
  display: block;
  height: 120px;
  padding: 8px 27px;
  overflow: hidden;
}

.search-notes-index-item > .title {
  word-wrap: break-word;
  margin-bottom: 6px;
  font-family: caecilia, times, serif;
  font-weight: 400;
  font-size: 16px;
  color: #2dbe60;
}

.search-notes-index-item > p {
  word-wrap: break-word;
  margin: 8px 0;
  font-family: gotham, helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #878787;
}

.search-notes-index-item > .body {
  color: #000;
}

.search-notes-index-item:hover {
  cursor: pointer;
  background: #2dbe60;
  color: #fff;
}

.search-notes-index-item:hover > .title {
  cursor: pointer;
  background: #2dbe60;
  color: #fff;
}

.search-notes-index-item:hover > p {
  cursor: pointer;
  background: #2dbe60;
  color: #fff;
}
