/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* --- RESET --- */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

/* --- ELEMENTS --- */

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.1666666666;
  background: #fff;
  color: #000;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* --- AUTH FORM --- */

.auth-form {
  vertical-align: middle;
}

.form-header {
  display: block;
  margin: 20px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
}

.form-main {
  display: block;
  width: 500px;
  margin: 0 auto;
  border: 1px solid #ececec;
}

.form-footer {
  display: block;
  margin: 40px 0;
  text-align: center;
  font-size: 14px;
}

.logo {
  display: block;
  width: auto;
  height: 180px;
  margin: 0 auto;
}

.form-input {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.form-input > input {
  display: block;
  width: 100%;
  border: 1px solid #ececec;
  border-radius: 7px;
  padding: 5px;
}

.submit-button {
  display: block;
  width: 320px;
  margin: 20px auto 20px auto;
  border: 1px solid #1fae52;
  border-radius: 7px;
  padding: 20px 40px;
  background: #2dbe60;
  text-align: center;
  color: #fff;
}

.submit-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.auth-form-error {
  text-align: center;
  color: #2dbe60;
}

.auth-form-error:last-of-type {
  margin: 0 0 20px 0;
}

.guest-button {
  margin: 0 0 10px 0;
  border: 1px solid #1fae52;
  border-radius: 7px;
  padding: 5px;
  background: #2dbe60;
  text-align: center;
  color: white;
}

.guest-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.page-change {
  color: #2dbe60;
}

.page-change:hover {
  cursor: pointer;
  opacity: 0.75;
}

/* --- HOME --- */

.home-sidebar {
  display: block;
  float: left;
  width: 72px;
  height: 100vh;
  background: #f8f8f8;
  overflow-y: scroll;
  overflow: hidden;
}

.home-main {
  display: block;
  float: left;
  width: calc(100vw - 72px);
  position: relative;
}

.sidebar-logo {
  width: 36px;
  height: 36px;
  margin: 12px auto 6px auto;
  border: 1px solid #ececec;
}

.sidebar-tools {
  margin: 50px auto;
}

.sidebar-options {
  margin: 50px auto;
}

.sidebar-tool > img {
  width: 36px;
  height: 36px;
  margin: 6px auto;
  border: 1px solid #ececec;
  background: #fff;
}

.sidebar-tool > img:hover {
  cursor: pointer;
  opacity: 0.75;
}

.sidebar-option > img {
  width: 36px;
  height: 36px;
  margin: 6px auto;
  border: 1px solid #ececec;
  background: #fff;
}

.sidebar-option > img:hover {
  cursor: pointer;
  opacity: 0.75;
}

.logout-button {
  position: absolute;
  top: 12px;
  right: 16px;
  display: block;
  float: right;
  padding: 7px 10px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  text-align: center;
  font-family: gotham, helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #606060;
}

.logout-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

/* --- NOTES --- */

.notes-index {
  display: block;
  float: left;
  width: 352px;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.notes-index-children {
  display: block;
  float: left;
  width: calc(100vw - 424px);
}

.notes-index-header {
  display: block;
  height: 106px;
  padding: 24px 0 0 24px;
  border-bottom: 1px solid #ececec;
}

.notes-index-header > h1 {
  margin: 0 0 32px 0;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 21px;
  color: #878787;
}

.notes-index-header > p {
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #ababab;
}

.notes-index-main {
  height: calc(100vh - 106px);
  overflow-y: scroll;
}

.notes-index-item-wrapper {
  border-bottom: 1px solid #ececec;
}

.notes-index-item-wrapper:last-child {
  border-bottom: 0;
}

.notes-index-item {
  display: block;
  height: 120px;
  padding: 8px 27px;
  overflow: hidden;
}

.notes-index-item > h2 {
  word-wrap: break-word;
  margin-bottom: 6px;
  font-family: caecilia, times, serif;
  font-weight: 400;
  font-size: 16px;
  color: #4a4a4a;
}

.notes-index-item > p {
  word-wrap: break-word;
  margin: 8px 0;
  font-family: gotham, helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #878787;
}

.notes-index-item:hover {
  cursor: pointer;
  background: #2dbe60;
  color: #fff;
}

.notes-index-item:hover > h2 {
  cursor: pointer;
  background: #2dbe60;
  color: #fff;
}

.notes-index-item:hover > p {
  cursor: pointer;
  background: #2dbe60;
  color: #fff;
}

/* --- NOTE --- */

.note {
  display: block;
  height: 100vh;
  padding: 12px 18px;
  overflow-y: scroll;
  overflow: hidden;
}

.note > h1 {
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 21px;
  color: #878787;
  padding: 0 0 36px 0;
}

.note-trash-icon {
  float: right;
  width: 36px;
  height: 36px;
  border: 1px solid #ececec;
}

.note-trash-icon:hover {
  cursor: pointer;
  opacity: 0.75;
}

.note-error {
  display: block;
  width: 250px;
  margin: 0 auto;
  color: #f00;
  text-align: center;
  font-weight: bold;
}

.note-form {
  padding: 0 48px;
}

.note-form-select {
  padding: 32px 0 10px 0;
}

.note-form-select > label {
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  color: #878787;
}

.note-form-select > select {
  margin: 6px 0 0 6px;
}

.note-form-input {
  display: block;
  margin: 10px 0;
}

.note-form-input > label {
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  color: #878787;
}

.note-title-input-field {
  width: 100%;
  border: 1px solid #ececec;
  padding: 1px 8px 1px;
  font-family: caecilia, times, serif;
  font-weight: 300;
  font-size: 28px;
  color: #2dbe60;
}

.note-form-input > textarea {
  display: block;
  width: 100%;
  min-height: 300px;
  border: 1px solid #ececec;
  padding: 1px 8px 1px;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 14px;
  color: #383838;
}

.note-submit-button {
  display: block;
  float: right;
  padding: 7px 10px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  text-align: center;
  font-family: gotham, helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #606060;
}

.note-submit-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

/* --- NOTEBOOKS --- */

.notebooks-index {
  display: block;
  float: left;
  width: 352px;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.notebooks-index-header {
  position: relative;
}

.notebooks-index-children {
  display: block;
  float: left;
  width: calc(100vw - 424px);
}

.notebooks-index-header {
  display: block;
  height: 106px;
  padding: 24px 0 0 24px;
  border-bottom: 1px solid #ececec;
}

.notebooks-index-header > h1 {
  padding: 0 186px 32px 0;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 21px;
  color: #878787;
}

.notebooks-index-header > p {
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #ababab;
}

.new-notebook-icon {
  position: absolute;
  top: 12px;
  right: 148px;
  width: 38px;
  height: 38px;
  border: 1px solid #ececec;
}

.notebooks-index-main {
  height: calc(100vh - 106px);
  overflow-y: scroll;
}

.notebooks-index-item-wrapper {
  border-bottom: 1px solid #ececec;
}

.notebooks-index-item-wrapper:last-child {
  border-bottom: 0;
}

.notebooks-index-item {
  display: block;
  height: 120px;
  padding: 8px 27px;
  overflow: hidden;
}

.notebooks-index-item > h2 {
  word-wrap: break-word;
  margin-bottom: 6px;
  font-family: caecilia, times, serif;
  font-weight: 400;
  font-size: 16px;
  color: #4a4a4a;
}

.notebooks-index-item > p {
  word-wrap: break-word;
  margin: 8px 0;
  font-family: gotham, helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #878787;
}

.notebooks-index-item:hover {
  cursor: pointer;
  background: #2dbe60;
  color: #fff;
}

.notebooks-index-item:hover > h2 {
  cursor: pointer;
  background: #2dbe60;
  color: #fff;
}

.notebooks-index-item:hover > p {
  cursor: pointer;
  background: #2dbe60;
  color: #fff;
}

.notebook-update-link {
  margin: 0 6px;
  border: 1px solid #1fae52;
  border-radius: 4px;
  padding: 1px 8px;
  background: #2dbe60;
  color: #fff;
}

.notebook-update-link:hover {
  cursor: pointer;
  background: #fff;
  color: #2dbe60;
}

/* --- NOTEBOOK --- */

.notebook {
  display: block;
  height: 100vh;
  padding: 30px 50px;
  overflow-y: scroll;
}

.notebook > h1 {
  margin: 0 0 10px 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.notebook > img {
  float: right;
  width: 50px;
  height: 50px;
  border: 1px solid #ececec;
}

.notebook > img:hover {
  cursor: pointer;
  opacity: 0.75;
}

.notebook-error {
  display: block;
  width: 250px;
  margin: 0 auto;
  color: #f00;
  text-align: center;
  font-weight: bold;
}

.notebook-form {
  display: block;
}

.notebook-form-input {
  display: block;
  margin: 10px 0;
}

.notebook-form-input > label {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.notebook-title-input-field {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #ececec;
  padding: 10px;
  color: #1fae52;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.notebook-form-input > textarea {
  display: block;
  width: 100%;
  height: 300px;
  border: 1px solid #ececec;
  padding: 10px;
}

.notebook-submit-button {
  display: block;
  float: right;
  padding: 5px 10px;
  border: 1px solid #1fae52;
  background: #2dbe60;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.notebook-submit-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

/* --- TAG --- */

.note-new-tag-icon {
  float: left;
  width: 22px;
  height: 22px;
  border: 1px solid #ececec;
}

.note-tags {
  float: left;
  width: calc(100% - 58px);

}

.tags-index-tag-wrapper {
  display: block;
  float: left;
  margin: 0 0 6px 6px;
  border: 1px solid #ececec;
  padding: 1px 8px 1px;
  border-radius: 4px;
}

.tag-trash-icon {
  width: 18px;
  height: 18px;
}
