/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* --- RESET --- */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

/* --- ELEMENTS --- */

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.1666666666;
  background: #fff;
  color: #000;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* --- AUTH FORM --- */

.auth-form {
  vertical-align: middle;
}

.form-header {
  display: block;
  margin: 20px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
}

.form-main {
  display: block;
  width: 500px;
  margin: 0 auto;
  border: 1px solid #aaa;
}

.form-footer {
  display: block;
  margin: 40px 0;
  text-align: center;
  font-size: 14px;
}

.logo {
  display: block;
  width: auto;
  height: 180px;
  margin: 0 auto;
}

.form-input {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.form-input > input {
  display: block;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 7px;
  padding: 5px;
}

.submit-button {
  display: block;
  width: 320px;
  margin: 20px auto 20px auto;
  border: 1px solid #1fae52;
  border-radius: 7px;
  padding: 20px 40px;
  background: #2dbe60;
  text-align: center;
  color: #fff;
}

.submit-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.auth-form-error {
  text-align: center;
  color: #2dbe60;
}

.auth-form-error:last-of-type {
  margin: 0 0 20px 0;
}

.guest-button {
  margin: 0 0 10px 0;
  border: 1px solid #1fae52;
  border-radius: 7px;
  padding: 5px;
  background: #2dbe60;
  text-align: center;
  color: white;
}

.guest-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.page-change {
  color: #2dbe60;
}

.page-change:hover {
  cursor: pointer;
  opacity: 0.75;
}

/* --- HOME --- */

.home-sidebar {
  display: block;
  float: left;
  width: 70px;
  height: 100vh;
  background: #eee;
  overflow-y: scroll;
}

.home-main {
  display: block;
  float: left;
  width: calc(100vw - 70px);
  position: relative;
}

.sidebar-logo {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  border: 1px solid #aaa;
}

.sidebar-tools {
  margin: 50px auto;
}

.sidebar-options {
  margin: 50px auto;
}

.sidebar-tool > img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid #aaa;
  background: #fff;
}

.sidebar-tool > img:hover {
  cursor: pointer;
  opacity: 0.75;
}

.sidebar-option > img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid #aaa;
  background: #fff;
}

.sidebar-option > img:hover {
  cursor: pointer;
  opacity: 0.75;
}

.logout-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  border: 1px solid #1fae52;
  background: #2dbe60;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.logout-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

/* --- NOTES --- */

.notes-index {
  display: block;
  float: left;
  width: 330px;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.notes-index-children {
  display: block;
  float: left;
  width: calc(100vw - 400px);
}

.notes-index-header {
  display: block;
  height: 86px;
  padding: 10px;
  border-bottom: 1px solid #aaa;
}

.notes-index-header > h1 {
  padding: 0 0 5px 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.notes-index-main {
  height: calc(100vh - 86px);
  overflow-y: scroll;
}

.notes-index-item-wrapper {
  border-bottom: 1px solid #aaa;
}

.notes-index-item-wrapper:last-child {
  border-bottom: 0;
}

.notes-index-item {
  display: block;
  height: 131px;
  padding: 10px;
  overflow: hidden;
}

.notes-index-item:hover {
  cursor: pointer;
  background: #2dbe60;
  color: #fff;
}

.notes-index-item h2 {
  word-wrap: break-word;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.notes-index-item p {
  padding: 5px 0;
  word-wrap: break-word;
}

/* --- NOTE --- */

.note {
  display: block;
  height: 100vh;
  padding: 30px 50px;
  overflow-y: scroll;
}

.note > h1 {
  margin: 0 0 10px 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.note > img {
  float: right;
  width: 50px;
  height: 50px;
  border: 1px solid #aaa;
}

.note > img:hover {
  cursor: pointer;
  opacity: 0.75;
}

.note-error {
  display: block;
  width: 250px;
  margin: 0 auto;
  color: #f00;
  text-align: center;
  font-weight: bold;
}

.note-form-select > select {
  margin: 0 5px;
}

.note-form-input {
  display: block;
  margin: 10px 0;
}

.note-form-input > label {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.note-notebook_id-input-field {
  display: block;
  width: 50px;
  border: 1px solid #aaa;
  padding: 5px;
}

.note-title-input-field {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #aaa;
  padding: 10px;
  color: #1fae52;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.note-form-input > textarea {
  display: block;
  width: 100%;
  height: 300px;
  border: 1px solid #aaa;
  padding: 10px;
}

.note-submit-button {
  display: block;
  float: right;
  padding: 5px 10px;
  border: 1px solid #1fae52;
  background: #2dbe60;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.note-submit-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

/* --- NOTEBOOKS --- */

.notebooks-index {
  display: block;
  float: left;
  width: 330px;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.notebooks-index-children {
  display: block;
  float: left;
  width: calc(100vw - 400px);
}

.notebooks-index-header {
  display: block;
  height: 86px;
  padding: 10px;
  border-bottom: 1px solid #aaa;
}

.notebooks-index-header-text {
  display: block;
  float: left;
}

.notebooks-index-header h1 {
  padding: 0 0 5px 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.new-notebook-icon {
  float: right;
  width: 50px;
  height: 50px;
  border: 1px solid #aaa;
}

.notebooks-index-main {
  height: calc(100vh - 86px);
  overflow-y: scroll;
}

.notebooks-index-item-wrapper {
  border-bottom: 1px solid #aaa;
}

.notebooks-index-item-wrapper:last-child {
  border-bottom: 0;
}

.notebooks-index-item {
  display: block;
  height: 131px;
  padding: 10px;
  overflow: hidden;
}

.notebooks-index-item:hover {
  cursor: pointer;
  background: #2dbe60;
  color: #fff;
}

.notebooks-index-item h2 {
  word-wrap: break-word;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.notebooks-index-item p {
  padding: 5px 0;
  word-wrap: break-word;
}

.notebook-update-link {
  margin: 0 5px;
  border: 1px solid #1fae52;
  border-radius: 7px;
  padding: 0 5px;
  background: #2dbe60;
  color: #fff;
}

.notebook-update-link:hover {
  cursor: pointer;
  background: #fff;
  color: #1fae52;
}

/* --- NOTEBOOK --- */

.notebook {
  display: block;
  height: 100vh;
  padding: 30px 50px;
  overflow-y: scroll;
}

.notebook > h1 {
  margin: 0 0 10px 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.notebook > img {
  float: right;
  width: 50px;
  height: 50px;
  border: 1px solid #aaa;
}

.notebook > img:hover {
  cursor: pointer;
  opacity: 0.75;
}

.notebook-error {
  display: block;
  width: 250px;
  margin: 0 auto;
  color: #f00;
  text-align: center;
  font-weight: bold;
}

.notebook-form {
  display: block;
}

.notebook-form-input {
  display: block;
  margin: 10px 0;
}

.notebook-form-input > label {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.notebook-title-input-field {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #aaa;
  padding: 10px;
  color: #1fae52;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.notebook-form-input > textarea {
  display: block;
  width: 100%;
  height: 300px;
  border: 1px solid #aaa;
  padding: 10px;
}

.notebook-submit-button {
  display: block;
  float: right;
  padding: 5px 10px;
  border: 1px solid #1fae52;
  background: #2dbe60;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.notebook-submit-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

/* --- TAG --- */

.new-tag-icon {
  width: 50px;
  height: 50px;
}

.tag-trash-icon {
  width: 10px;
  height: 10px;
}
